**/nbproject/
**/target/
*.swp
dependency-reduced-pom.xml
/ingest-core/target/
/cassandra/nbproject/
.project
.settings
.classpath
/client/nbproject/
/messaging/nbproject/
pom.xml.versionsBackup
/messaging-server/nbproject/
/kafka/nbproject/
/hdfs/nbproject/
/smartbox/monitoring/target/
/smartbox/ingest-server/target/
/smartbox/lib/target/
/messaging/lib/target/
/messaging/server/target/
/messaging/server/nbproject/
/smartbox/performance-test/target/
*.iml
.idea
server/log
