**/nbproject/
**/target/
**/build/
*.iml
*.swp
.idea/
**/.gradle/
server/log/
dependency-reduced-pom.xml
/ingest-core/target/
/cassandra/nbproject/
.project
.settings
.classpath
/client/nbproject/
/messaging/nbproject/
pom.xml.versionsBackup
/messaging-server/nbproject/
/kafka/nbproject/
/hdfs/nbproject/
/smartbox/monitoring/target/
/smartbox/ingest-server/target/
/smartbox/lib/target/
/messaging/lib/target/
/messaging/server/target/
/messaging/server/nbproject/
/smartbox/performance-test/target/
*.iml
*.log
.idea
server/log
**/*_pb2.py
**/*_pb2_grpc.py
**/.DS_Store
docs/src/resources/_gen/**
