sudo: false

language: java

jdk:
  - oraclejdk8

addons:
  apt:
    packages:
      - realpath
  sonarcloud:
    organization: datadriven
    token:
      secure: $SONAR_TOKEN

install: true
script: mvn install sonar:sonar -B -V -Pallow-snapshots,with-coverage,travis -Dsonar.login=$SONAR_TOKEN
before_cache: rm -rf ~/.m2/repository/cz/o2/proxima || /bin/true

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
