sudo: false

language: java

jdk:
  - oraclejdk8

addons:
  apt:
    packages:
      - oracle-java8-installer

install: true
script: mvn install -B -V -Pallow-snapshots
before_cache: rm -rf ~/.m2/repository/cz/o2/proxima || /bin/true

cache:
  directories:
    - ~/.m2/repository

