sudo: false

language: java

jdk:
  - oraclejdk8

addons:
  apt:
    packages:
      - oracle-java8-installer

install: mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
script: mvn test -B

cache:
  directories:
    - ~/.m2/repository

